<nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-left uk-margin-medium-left  boundary-align uk-visible@m">
        <a class="uk-navbar-item uk-logo" href="#">                   
             Logo
             <svg viewBox="0 0 680.338 225.64" width="100px" height="80px" class="svg-red">
                        <g id="logo">
                            <g class="svg-logo" style="line-height:1.25; fill:#ffffff" aria-label="Logo" font-weight="800"
                                font-size="40" font-family="Roboto" letter-spacing="0" word-spacing="0">
                                <!-- fill="#f15859" -->
                            </g>

                        </g>
                    </svg></a>
        <ul class="uk-navbar-nav">

                    <li class="uk-active">
                        <a href="#m">Ссылка 1</a>
                    </li>
                    <li>
                        <a href="#p">Ссылка 2</a>
                    </li>
                    <li>
                        <a href="#v">Ссылка 3</a>
                    </li>
                    <li>
                        <a href="#r">Ссылка 4</a>
                    </li>
        </ul>

        <div class="uk-navbar-item">
            <div>Some <a href="#">Link</a></div>
        </div>

        <div class="uk-navbar-item">
            <form action="javascript:void(0)">
                <input class="uk-input uk-form-width-small" type="text" placeholder="Input">
                <button class="uk-button uk-button-default">Button</button>
            </form>
        </div>

    </div>

    <div class="uk-navbar-right uk-margin-small-right">
            <a href="{{htmlWebpackPlugin.options.vk}}" class="uk-text-primary uk-icon-button uk-margin-small-right uk-text-primary" uk-icon="vk"></a>
            <a href="{{htmlWebpackPlugin.options.facebook}}" class="uk-text-primary uk-icon-button uk-margin-small-right uk-text-primary" uk-icon="facebook"></a>
            <a href="{{htmlWebpackPlugin.options.instagram}}" class="uk-text-primary uk-icon-button uk-text-primary" uk-icon="instagram"></a>
    </div>
</nav>