/* Variables */

$body-font: 'IBM Plex Sans',
sans-serif;
$heading-font: 'IBM Plex Sans Condensed',
sans-serif;
$base-font-size: 16px;
$font-color: #252227;
$gray: #eee;
$accent: #9c2532;
$pinterest: #bd081c;
$twitter: #1da1f2;
$instagram: #000;
$tablet: 768px;
$desktop: 1024px;

@import url('https://fonts.googleapis.com/css?family=Roboto');

.cover {
  color: white !important
}

.uk-navbar-transparent .svg-logo {
  fill: white !important;
}

.uk-navbar-sticky .svg-logo {
  fill: #f9555c !important;
}

@media only screen and (max-width: 640px) {
  .svg-logo {
    width: 70vw !important;
  }
}

.svg-logo {
  width: 40vw;
}

.icon {
  height: 70px;
  width: 70px;
  margin-bottom: 30px;
}

uk-button {
  font-family: 'Roboto';
}

bg {
  background-color: rgb(255, 255, 255);
}

#modal .uk-modal-dialog {
  border-radius: 15px !important;
}

#modal img {
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

@media (min-width:640px) {
  .margin-hidden {
    margin-right: 10px !important;
  }
}